.kw-gem-button {
  margin: 0px 10px 0px 0px;
}
.kw-gem-right-button {
  margin: 0px 0px 35px 10px;
}
.kw-gem-right-button-2 {
  margin: 0px 0px 10px 5px;
}
.kw-gem-down-button {
  margin: 0px 0px 10px 00px;
}
.kw-gem-up-button {
  margin: 5px 0px 0px 10px;
}

/* generic_process extension
============================ */
.generic-process-action-widget button {
  margin: 2px;
}