// Normal views
.o_content,
    .modal-content {
        max-width: 100%;
        .o_form_editable {
            .o_form_statusbar {
                position: sticky !important;
                top: 0;
                z-index: 1;
                overflow: scrollTop;
            }
            .o_form_sheet {
                max-width: calc(100% - 32px) !important;
                z-index: auto;
                overflow-x: hidden;
            }
        }
    }

body:not(.editor_has_snippets) > .oe-toolbar {
    z-index: 2000 !important;
}
